body {
  display: grid;
  margin: 0;
  grid-template: "t" 2fr "l" 0.4fr "ll" 0.4fr "n" 1fr "d" auto "f" 1fr/1fr;
}
@media (prefers-color-scheme: light) {
  body {
    background-color: #F5F5F5;
    color: #141414;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: #141414;
    color: #F5F5F5;
  }
}
@media (max-width: 1024px) {
  body {
    max-width: 86vmin;
    font-size: 2rem;
  }
}

.title {
  font-family: Helvetica, sans-serif;
  font-size: 4rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1024px) {
  .title {
    font-size: 8rem;
  }
}

.title .light {
  color: #2A2A2A;
}
.title .me {
  color: #E8E8E8;
}

.button {
  font-family: Helvetica, sans-serif;
  font-weight: bolder;
  padding: 1rem;
  margin: 10px;
  border-radius: 1rem;
}
@media (prefers-color-scheme: dark) {
  .button {
    background-color: #1C1C1E;
  }
}
@media (prefers-color-scheme: light) {
  .button {
    background-color: #fff;
  }
}

.button:hover {
  cursor: pointer;
  opacity: 75%;
}

.link_buttons {
  text-align: center;
  margin: auto;
  max-width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
@media (max-width: 1024px) {
  .link_buttons {
    max-width: 86vmin;
  }
}

.link_buttons#comm_links {
  grid-row: 2;
}

.link_buttons#app_links {
  grid-row: 3;
}

.tab {
  grid-row: 4;
  text-align: center;
  margin: auto;
  display: grid;
  font-family: Helvetica, sans-serif;
  font-weight: bolder;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: 0.4rem solid;
  border-radius: 1.4rem;
}
@media (prefers-color-scheme: dark) {
  .tab {
    background-color: black;
    border-color: black;
  }
}
@media (prefers-color-scheme: light) {
  .tab {
    background-color: white;
    border-color: white;
  }
}
.tab .lightmeter {
  grid-column: 1;
  margin: 0;
}
.tab .logbook {
  grid-column: 2;
  margin: 0;
}

.tab_item:hover {
  cursor: pointer;
  opacity: 75%;
}

.tab_item {
  border-radius: 1rem;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0);
}

@media (prefers-color-scheme: dark) {
  .tab .selected {
    background-color: #1C1C1E;
  }
}
@media (prefers-color-scheme: light) {
  .tab .selected {
    background-color: #F5F5F5;
  }
}

.description {
  font-family: Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  max-width: 600px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  color: gray;
}
@media (max-width: 1024px) {
  .description {
    max-width: 86vmin;
    font-size: 2rem;
    line-height: 3rem;
  }
}
.description b {
  font-weight: 600;
}
@media (prefers-color-scheme: light) {
  .description b {
    color: #2A2A2A;
  }
}
@media (prefers-color-scheme: dark) {
  .description b {
    color: #E8E8E8;
  }
}
.description .text {
  font-weight: 100;
}
/*# sourceMappingURL=style.css.map */