$lightGray:#E8E8E8;
$darkGray:#2A2A2A;
$almostBlack: #141414;
$almostWhite: #F5F5F5;
$cardDark: #1C1C1E;
$cardLight: #fff;
$clear:rgba($color: #000000, $alpha: 0.0);
$titleFontSize: 4rem;
$descFontSize:1rem;
$buttonRadius:1rem;
$borderwidth:0.4rem;
$maxWidth:600px;

$mobileextreme:1024px;

$mobiledescFontSize:2rem;
$mobiletitleFontSize: 6rem;
$mobilebuttonRadius:2rem;
$mobileborderwidth:0.8rem;
$mobilemaxWidth:86vmin;

$font: Helvetica,
sans-serif;

body {
    font-family: $font;
    display: grid;
    margin: 0;

    grid-template:
        "t"2fr "l"0.4fr "ll"0.4fr "n"1fr "d"auto "f"1fr/ 1fr;

    @media (prefers-color-scheme: light) {
        background-color: $almostWhite;
        color: $almostBlack
    }

    @media (prefers-color-scheme: dark) {
        background-color: $almostBlack;
        color: $almostWhite
    }

    @media (max-width: $mobileextreme) {

        font-size: $mobiledescFontSize;
    }

    margin: auto;

}


.title {

    font-family: $font;
    font-size: $titleFontSize;


    @media (max-width: $mobileextreme) {
        font-size: $mobiletitleFontSize;

    }



    justify-content: center;
    text-align: center;
    display: flex;
    margin: auto;


}

.title {
    .light {
        color: $darkGray;
    }

    .me {
        color: $lightGray;
    }
}

.button {
    @media (prefers-color-scheme: dark) {
        background-color: $cardDark;
    }

    @media (prefers-color-scheme: light) {
        background-color: $cardLight;
    }

    font-family: $font;
    font-weight: bolder;
    padding: 1rem;
    margin: 10px;
    border-radius: $buttonRadius;


}

.button:hover {
    cursor: pointer;
    opacity: 75%;
}

.link_buttons {


    text-align: center;
    margin: auto;
    max-width: $maxWidth;

    @media (max-width: $mobileextreme) {
        max-width: $mobilemaxWidth;
    }

    display: flex;
    width: fit-content;

}

.link_buttons#comm_links {
    grid-row: 2;
}

.link_buttons#app_links {
    grid-row: 3;
}

.tab {
    grid-row: 4;
    text-align: center;
    margin: auto;
    display: grid;
    font-family: $font;
    font-weight: bolder;
    width: fit-content;


    @media (prefers-color-scheme: dark) {
        background-color: black;
        border-color: black;
    }

    @media (prefers-color-scheme: light) {
        background-color: white;
        border-color: white;
    }

    border: $borderwidth solid;
    border-radius: $buttonRadius+$borderwidth;


    .lightmeter {
        grid-column: 1;
        margin: 0;
    }

    .logbook {
        grid-column: 2;
        margin: 0;
    }


}

.tab_item:hover {
    cursor: pointer;
    opacity: 75%;
}

.tab_item {
    border-radius: $buttonRadius;
    padding: 1rem;
    background-color: $clear;


}

.tab .selected {
    @media (prefers-color-scheme: dark) {
        background-color: $cardDark;
    }

    @media (prefers-color-scheme: light) {
        background-color: $almostWhite;
    }
}

.description {
    font-family: $font;
    font-size: $descFontSize;
    line-height: $descFontSize*1.5;

    max-width: $maxWidth;

    @media (max-width: $mobileextreme) {
        max-width: $mobilemaxWidth;
        font-size: $mobiledescFontSize;
        line-height: $mobiledescFontSize*1.5;
    }

    justify-content: center;
    margin: auto;
    color: gray;


    b {
        font-weight: 600;

        @media (prefers-color-scheme: light) {
            color: $darkGray
        }

        @media (prefers-color-scheme: dark) {
            color: $lightGray
        }
    }

    .text {
        font-weight: 100;
    }
}

.footer {
    font-weight: 100;

    @media (prefers-color-scheme: dark) {
        color: $darkGray
    }

    @media (prefers-color-scheme: light) {
        color: $lightGray
    }

    margin: auto;
}