body {
   margin: 0;
   height: 100%;
   background-color: #e0e0e0;
}

h6 {
   margin: 0;
   padding: 0;
}

.wrapper {
   width: 100%;
   display: grid;
   grid-template-columns: 2fr 5fr;
   grid-gap: 0px;

   background-color: #e0e0e0;
   grid-template-rows: 1fr;
}

.apertures-wrapper {
   grid-column: 1;
   padding: 0 1vmin;
   height: 100%;
   background-color: #333333;
   box-shadow: -2px 0px 20px black;
   text-align: right;
   position: fixed;
   left: 0;
   float: left;
   width: 13%;
}

.apertures {
   color: #e0e0e0;
   position: relative;
   top: 50%;
   transform: translateY(-50%);
}

h6, .apertures, .shutterspeeds {
   font-size: 2.2vh;
   font-weight: bold;
   font-family: ui-sans-serif;
}

.shutterspeeds {
   grid-column: 1;
   float: left;
   color: #333333;
   margin-left: 14vw;
   padding: 10vh 2vmin;
   text-align: left;
}

@media screen and (min-device-width:768px) {
   h6, .apertures, .shutterspeeds {
      font-weight: 400;
      font-size: 2vh;
   }

   .shutterspeeds {
      padding-left: 2vmin;
   }
}

.dark-gold {
   color: #BE966E;
}

h1 {
   margin: auto;
   font-size: 15vmin;
   font-family: sans-serif;
   color: #333333
}

h1.light {
   float: left;
}

h1.me {
   color: white;
   float: left;
}

@media screen and (min-device-width:768px) {
   h1 {
      font-size: 10vmin;
   }
}

@media screen and (min-device-width:1024px) {
   .shutterspeeds {
      padding-left: 2vmin;
   }
}

.content {
   margin-left:  auto;
   margin-right: auto;
   padding-top: 10vmin;
   text-align: center;
   grid-column: 2;

}
